.app {
    background-color: #edf5f8; 
    height: 100vh; 
    background-size: cover;
    margin: 0px; 
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    
}  

.app2 {
    padding: 35px;
}

.first-head {
    font-family: sans-serif; 
    color: #575a60; 
    text-align: center;
    font-weight: 100 !important;
    margin-bottom: 40px;
}

.white-bg {
    background-color: #ffffff;
    padding: 15px; 
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 100%;
} 

.head-card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 

.second-head {
    font-family: sans-serif; 
    color: #575a60; 
    font-weight: 100 !important;
} 

.nav-downs {
    background-color: #ffffff; 
    height: 50px; 
    width: 100vw; 
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
} 

.nav-down-para1 {
    font-size: 14px; 
    margin-left: 35px; 
    margin-right: 8px; 
    margin-top: 12px;
} 

.nav-down-para2 {
    font-size: 14px; 
    margin-left: 8px;
    margin-top: 12px;
}